#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

#Project specific
/build
/images
/out
.vs

#MacOS sadness
*.DS_Store

#vscode
.vscode